* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    font-family: 'Manrope';
    color: var(--very-dark-grayish-blue);
    background-color: var(--light-grayish-blue);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;

}

.bold {
    font-weight: 700;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    background-color: rgb(248, 253, 253);
    width: 800px;
    
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    margin: 10rem auto;
    border: 1px solid transparent;
    border-radius: 20px;
    position: absolute;
    
}

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 1em;
}

.content .text {
    line-height: 1.25rem;
    /* margin-top: 1rem; */
}


.image img {
    width: 350px;
    height: auto;
}

.credit-image img{
    max-width: 50px;
    border-radius: 50%;
}

.credits {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1.5em;
    max-width: 100%;
}

.share-button {
    font-size: 1rem;
    padding: 8px;
    margin-left: auto;
    margin-right: 2rem;
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
    cursor: pointer;
    color: #597197;
    max-height: 34px;
}


.share-menu{
    background-color: var(--very-dark-grayish-blue);
    height: 70px;
    width: ;
    color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.share-menu.active {
    display: grid;
}

.share-menu-button{
    font-size: 1rem;
    padding: 9px;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 1.10rem;
    background-color: var(--desaturated-dark-blue);
    border-radius: 50%;
    max-height: 34px;
}

.share-menu .social-media {
    text-align: center;
    align-content: center;
    
}
.share-menu .social-media span {
    color: var(--grayish-blue);
    letter-spacing: 4px;
}

.share-menu .social-media i {
    font-size: 20px;
    padding: 0 5px ;
}

@media  screen and (max-width: 500px) {
    
    .card-container{
        flex-direction: column;
        max-width: 80%;
        height: auto;
    }
    .image img {
        max-height: 300px;
    }

    .share-button {
        position: relative;
        left: 1.75rem;
    }
    .share-menu {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    

}

@media screen and (min-width: 501px) {
    .credits {
        width: 350px;
        grid-template-columns: 1fr 4fr 1fr;
    }

    .share-menu {
        
        display: grid;
        height: 50px;
        padding: 5px;
        border-radius: 10px;
        position: absolute;
        bottom: 90px;
        left: 600px;
        grid-template-columns: 1fr;
    }

    .share-menu-button {
        display: none;
    }

    .share-menu::before {
        border-top: 15px solid #48556a;
        border-bottom: 15px solid transparent;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        content: '';
        position: absolute;
        width: 0;
        top: 49px;
        left: 55px;
    }

    .share-menu .social-media i {
        font-size: 15px;
        padding: 0 5px ;
    }
}